@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    /* reseteo de padding y margin */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* variables */
    --blanco: #eeeeee;
    --fondo-oscuro: #220505;
    --fondo-menu: rgb(123, 11, 11);
    --sombra-fondo-bordo: 2px 2px 3px rgb(232, 120, 120);
}

body {
    /* Defino fuente de google, color de fondo, color de la fuente y tamaño de la fuente */
    font-family: "Open Sans", sans-serif;
    background-color: var(--fondo-oscuro);
    color: var(--blanco);
    font-size: 16px;
}

#menu {
    /* Menu sticky para que quede siempre visible al recorrer la página */
    background-color: var(--fondo-menu);
    border-radius: 4px;
    position: sticky;
    top: 0px;
}

nav {
    /* flex para acomodar los elemntos en row */
    display: flex;
    height: 50px;
}

.logoNav {
    /* ancho 15% para el contenedor del logo */
    width: 15%;
    align-self: center;
}

.logoNav img {
    width: 64px;
    margin-left: 10px;
}

nav ul {
    /* ancho del 85% para el menú de navegacíon con separación equidistante */
    display: flex;
    width: 85%;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    align-self: center;
}

nav ul li span {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 700;
    font-kerning: normal;
    font-size: 20px;
    text-shadow: var(--sombra-fondo-bordo);
}

nav ul li a:hover {
    /* cuando paso el mouse aumento la fuente */
    font-size: 20px;
    text-shadow: var(--sombra-fondo-bordo);
}

main {
    border-radius: 4px;
    margin-bottom: 5vh;
}

h2 {
    text-align: center;
    padding: 16px;
    text-shadow: var(--sombra-fondo-bordo);
    background: linear-gradient(to bottom, rgba(10, 5, 5, 1), rgba(20, 5, 5, 1));
    border-radius: 4px;
}

h3 {
    text-align: center;
    padding: 8px;
    margin-bottom: 16px;
}

article {
    margin-top: 12px;
    text-align: center;
}

article img {
    border-radius: 4px;
    height: fit-content;
    width: 20%;
}

#news {
    width: 90vw;
    margin: 20px auto 20px;
}

.articleNews .cardNews {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.cardNewsImage {
    width: 20vw;
}

.cardNews img {
    object-fit: fill;
    width: 80%;
}

.cardNews p {
    text-align: justify;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 28px;
    width: 50%;
}

#drivers {
    width: 90vw;
    text-align: center;
    margin: 20px auto 20px;
}

#drivers table {
    /* formateo básico de la tabla centrada y sin bordes*/
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    table-layout: fixed;
    width: 80%;
    border-collapse: collpase;
}

#drivers th,
td {
    padding: 10px;
    border-radius: 4px;
}

/* Defino el ancho de las columnas de la tabla según el contenido */
#drivers thead th:nth-child(1) {
    width: 25%;
}

#drivers thead th:nth-child(2) {
    width: 10%;
}

#drivers thead th:nth-child(3) {
    width: 50%;
}

#drivers thead th:nth-child(4) {
    width: 15%;
}

#drivers thead {
    background: linear-gradient(to bottom, rgba(200, 5, 5, 0.5), rgba(100, 5, 5, 0.5));
}

#drivers thead th {
    padding-bottom: 20px;
    padding-top: 20px;
}

/* color de fondo de las filas impares */
#drivers tbody tr:nth-child(odd) {
    background-color: #120505;
}

/* color de fondo de las filas pares */
#drivers tbody tr:nth-child(even) {
    background-color: #150505;
}

#drivers tbody td {
    height: 48px;
}

/* Cuando paso el mouse aumenta la fuente en la 3ra columna */
#drivers tbody td:nth-child(3):hover {
    font-size: 18px;
}

#drivers a {
    text-decoration: underline;
    color: var(--blanco);
}

#teams {
    width: 90vw;
    margin: 20px auto 20px;
}

/* Armos cards para cada equipo */
.cardTeam {
    display: flex;
    width: 80%;
    margin: 25px auto 25px;
    border-radius: 8px;
    border: 1px solid var(--blanco);
    padding: 15px;
    box-shadow: 5px 5px 10px var(--blanco);
}

/* Defino contenedor izquierda donde va un título y una imagen del auto */
.cardTeamLeft {
    width: 50vw;
}

.cardTeamLeft img {
    width: 20vw;
    padding-top: 5%;
}

.cardTeamLeft h3 {
    padding-top: 5%;
    font-size: 22px;
    font-style: oblique;
    text-shadow: var(--sombra-fondo-bordo);
}

/* Defino un contenedor derecho donde va la foto de los pilotos y su nombre */
.cardTeamRight {
    display: flex;
    width: 40vw;
}

.cardTeamRight img {
    display: block;
    margin: 0 auto 0;
    width: 10vw;
    border-radius: 8px;
}

.cardTeamRight p {
    margin: 10px 0 10px;
    width: 20vw;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.cardTeamDriver {
    width: 20vw;
}

/* El footer cambia el color del fondo */
footer {
    width: 100vw;
    margin: 0 auto 0;
    background-color: rgb(114, 5, 5);
    border-radius: 8px;
}

.contacts h2 {
    width: 100vw;
    margin: 20px 0 40px;
}

/* Uso flex para distribuir los iconos de redes sociales y el email */
.socialContact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialContact li {
    diplay: block;
    width: 10vw;
    margin-bottom: 30px;
    list-style: none;
}

/* Tamño de los iconos de 36px */
.socialContact img {
    width: 36px;
    height: 36px;
    margin: 10px 20px 10px;
    border-radius: 4px;
}

.socialContact a {
    display: flex;
    height: 50px;
    text-decoration: none;
    align-items: center;
}

.socialContact span {
    font-weight: 600;
    color: var(--blanco);
    padding: 0 20px 0;
    margin: 10px;
}

/* con hover aplico una sombra blanca a los iconos*/
.socialContact img:hover {
    box-shadow: 2px 2px 4px var(--blanco);
}

/* con hover aumento la fuente de los iconos */
.socialContact li span:hover {
    font-size: 17px;
}

.footerBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.footerBottom p {
    font-size: 12px;
}
