* {
    /* border: 1px dotted white; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* variables */
    --blanco: #eeeeee;
    --fondo-oscuro: #220505;
    --sombra-fondo-rojo: 2px 4px 8px #120505;
    --sombra-fondo-bordo: 2px 2px 4px red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fondo-oscuro);
    color: var(--blanco);
    font-size: 16px;
}
#menu {
    background-color: red;
    border-radius: 4px;
}
nav {
    display: flex;
    height: 50px;
}

.logoNav {
    width: 15%;
    align-self: center;
}

.logoNav img {
    width: 64px;
    margin-left: 10px;
}

nav ul {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    align-self: center;
}

nav ul li span {
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 700;
    text-shadow: var(--sombra-fondo-rojo);
}

nav ul li a:hover {
    font-size: 20px;
    text-shadow: var(--sombra-fondo-rojo);
}
main {
    border-radius: 4px;
}

h2 {
    text-align: center;
    padding: 16px;
    text-shadow: var(--sombra-fondo-bordo);
}

h3 {
    text-align: center;
    padding: 8px;
    margin-bottom: 16px;
}
article {
    margin-top: 12px;
    text-align: center;
}

article img {
    border-radius: 4px;
    height: fit-content;
    width: 20%;
}

.article-news .cardNews {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.cardNewsImage {
    width: 20vw;
}

.cardNews img {
    object-fit: fill;
    width: 80%;
}

.cardNews p {
    text-align: justify;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 28px;
    width: 50%;
}

#drivers {
    background-color: #120505;
    text-align: center;
}

#drivers table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 80%;
    border-collapse: collpase;
}

#drivers th,
td {
    padding: 10px;
}

#drivers thead th:nth-child(1) {
    width: 25%;
}

#drivers thead th:nth-child(2) {
    width: 10%;
}

#drivers thead th:nth-child(3) {
    width: 50%;
}

#drivers thead th:nth-child(4) {
    width: 15%;
}

#drivers a {
    text-decoration: underline;
    color: var(--blanco);
}

footer {
    background-color: red;
    border-radius: 4px;
}
